@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-background-color: #171010;
    --second-background-color: #1a1212;
    --menu-item-background-color: #130b0b;
    --main-accent: #423F3E;
    --secondary-accent: #2B2B2B;
    --btn-hover-color: #201717;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: var(--main-background-color);
    min-width: 800px;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

main {
    display: flex;
}

nav {
    top: 30px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
}

nav ul li {
    list-style: none;
    padding: 20px 40px;
    font-size: 1.2rem;
    font-weight: 400;
}

nav ul li:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
}

.active {
    background-color: var(--second-background-color);
}

section {
    background-color: var(--second-background-color);
    min-height: 100vh;
    width: 100%;
}

/* ABOUT */
.restaurant-banner {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin-bottom: 40px;
}

.intro, .open-hours, .address {
    text-align: center;
    padding: 0 10vw;
    margin-bottom: 40px;
}

.intro h1 {
    text-align: center;
    padding: 40px 0;
    font-size: 2rem;
}

.intro p {
    font-size: 1.1rem;
}

.open-hours p {
    font-size: 1.5rem;
}

.address p {
    font-size: 1.2rem;
}

/* MENU */
.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    padding: 50px;
    gap: 50px;
}

.item-card {
    background-color: var(--menu-item-background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.item-title {
    padding: 20px 30px;
}

.item-desc {
    padding: 0 30px;
    padding-bottom: 20px;
}

.item-price {
    padding: 0 30px;
    padding-bottom: 20px;
    align-self: flex-end;
    font-size: 1.4rem;
    font-weight: 600;
}


